*{
margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
font-family: 'Teko', sans-serif;

}
html, body{
    margin:0;
    height: 100%;
}
body{
    box-sizing: border-box;
    
    
}

.wrapper .sidebar{
    width: 200px;
    height: 100%;
    background-color: #222831;
    position: fixed;
    
    
}

.wrapper .sidebar h1{
    color: #EEEEEE;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    text-transform: uppercase;
}

.wrapper .sidebar ul{
    text-align: center;
}

.wrapper .sidebar ul li{
    padding: 20px 0 20px 0;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    
}

.wrapper .sidebar ul li a{
    color: #FFFFFF;
    font-family: 'Teko', sans-serif;
    width:100%;
    height: 100%;
}
 
i{
    font-size: 20px;
    
}

.wrapper .sidebar ul li:hover{
   
    background: linear-gradient(to left, #393E46 50%, #222831 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition:all .5s ease-out;
    transform: scale(1.1);
}
    

.wrapper{
    background-color: #121212;
     display: flex;
     flex-wrap: wrap; 
    color:white;
    width: 100%;
    
              
    
}

.wrapper h1{
    margin-top: 10px;
   text-align: center;
}

.wrapper .main-content {
   background-color: #121212;
    margin-left: 200px;
    
    width: 100vw;
    
    

}



.wrapper .main-content .main-team{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    border: 1px solid #393E46;
    margin: 10px;   
    
        
    background: rgba(57, 62, 70, 0.3)
}

.wrapper .main-content .main-team .team{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    
    
   
    
    
}
.wrapper .main-content .main-team .team p{
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
   
    margin: 3px;
}

/* ALL POKEMON TYPES */

.normal-type{
    border: 1px solid #AA9;
    background-color: #AA9;
    border-radius: 5px;
    padding: 3px;
    width: 101px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}
.fighting-type{
    border: 1px solid #b54;
    background-color: #b54;
    border-radius: 5px;
    padding: 3px;
    width: 100px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}
.water-type{
    border: 1px solid #39f;
    background-color: #39f;
    border-radius: 5px;
    padding: 3px;
    width: 100px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}
.grass-type{
    border: 1px solid #7c5;
    background-color: #7c5;
    border-radius: 5px;
    padding: 3px;
    width: 100px;
    text-align: center;
}
.dark-type{
    border: 1px solid #754;
    background-color: #754;
    border-radius: 5px;
    padding: 3px;
    width: 100px;
    text-align: center;
}
.rock-type{
    border: 1px solid #ba6;
    background-color: #ba6;
    border-radius: 5px;
    padding: 3px;
    width: 100px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    
}

.bug-type{
    border: 1px solid #ab2;
    background-color: #ab2;
    border-radius: 5px;
    padding: 3px;
    width: 100px;
    text-align: center;
}

.steel-type{
    border: 1px solid #aab;
    background-color: #aab;
    border-radius: 5px;
    padding: 3px;
    width: 100px;
    text-align: center;
}
.ground-type{
    border: 1px solid #db5;
    background-color: #db5;
    border-radius: 5px;
    padding: 3px;
    width: 100px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

.fire-type{
    border: 1px solid #f42;
    background-color: #f42;
    border-radius: 5px;
    padding: 3px;
    width: 100px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    
}
.electric-type{
    border: 1px solid #fc3;
    background-color: #fc3;
    border-radius: 5px;
    padding: 3px;
    width: 101px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    
}
.psyhic-type{
    border: 1px solid #f59;
    background-color: #f59;
    border-radius: 5px;
    padding: 3px;
    width: 101px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    
}

/* END POKEMON TYPES */

.main-content .other-poke{
    margin:10px;
}

/* begining  boss list */

.main-content .boss-list{
    background: rgba(57, 62, 70, 0.3);
    margin: 20px;
    border: 1px solid #393E46;
    border-radius: 10px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly
}
    
.main-content  .boss-list-header{
    text-align: start;
    margin: 10px;
    font-size: 40px;
    
    
}
.main-content  .boss-list-header .icon{
    font-size: 40px;;
    margin-left: 40px;;
}

.main-content .boss{
    font-size: 25px;
    text-align: start;
    margin-left: 40px;
    
    
    
}
.main-content .boss-list .boss-img{
    
    margin: 10px 10px 10px 40px;
    width: 40px;    
    height: 60px;
        }


hr{
    border-color: rgba(255, 255, 255, 0.1);
    width: 80%;
    align-self: center;
    margin: 20px 0px 20px -15%;

    
    
  
}
.main-content .boss-list .boss-img-mys{
    margin-left: 40px;
    margin-top: 10px;
    width:40px;
    height: 60px;
    
}


.main-content .boss-list details{
    font-family: 'Fira Sans', sans-serif;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    margin: 10px;
    margin-left: 40px;
    
           
}



.main-content .boss-list details li ul  {
    text-decoration: none;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    text-align: start;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #4d545e;
    background-color: rgba(57, 62, 70, 0.3);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
     text-align: center; 
    flex-wrap: wrap; 
    line-height: 30px;
    
    
  

    
    
    
}

.main-content .boss-list a{
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
    color:white;
    
  
}

.main-content .boss .classic-team{
    border: 1px solid #4b4469;
    border-radius: 5px;
    background-color: #4b4469;
    padding: 2px 4px;
    margin-left: 6px;
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    justify-content: center;
    text-shadow: 1px 1px black;
}

 

.main-content .boss .top3{
    border: 1px solid rgb(112, 1, 7);
    border-radius: 5px;
    background-color: rgb(112, 1, 7);
    padding: 2px 4px;
    margin-left: 6px;
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    justify-content: center;
    text-shadow: 1px 1px black;
}


.main-content .boss .rocks{
    border: 1px solid #ba6;
    border-radius: 5px;
    background-color: #ba6;
    padding: 2px 4px;
    margin-left: 6px;
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    justify-content: center;
    
}

.main-content .boss .mold-breaker{
    border: 1px solid #AE6565;
    border-radius: 5px;
    background-color: #AE6565;
    padding: 2px 4px;
    margin-left: 6px;
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    justify-content: center;
    text-shadow: 1px 1px black;
    
}
.main-content .boss .special-team{
    border: 1px solid #FF0202 ;
    border-radius: 5px;
    background-color: #FF0202 ;
    padding: 2px 4px;;
    margin-left: 6px;
    font-size: 15px;
    text-shadow: 0.5px 0.5px black;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    justify-content: center;
    text-shadow: 1px 1px black;
    
}

.main-content .boss .lead{
    border: 1px solid #45869E  ;
    border-radius: 5px;
    background-color: #45869E  ;
    padding: 2px 4px;;
    margin-left: 6px;
    font-size: 15px;
    text-shadow: 0.5px 0.5px black;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    justify-content: center;
    text-shadow: 1px 1px black;
    
}

.main-content .boss .lumberry{
    border: 1px solid #30B858  ;
    border-radius: 5px;
    background-color: #30B858 ;
    padding: 2px 4px;;
    margin-left: 6px;
    font-size: 15px;
    text-shadow: 0.5px 0.5px black;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    justify-content: center;
    text-shadow: 1px 1px black;
    display: inline-block;
    

}

.main-content .boss .lumberry-img{
    height: 20px;
    
    
    
}


.main-content .special-pika{
   width: 40px;
   height: 40px;
   margin-bottom: 0;
   
   
   
}
.main-content .special-sash{
    width: 20px;
    height: 20px;
    margin-left: 1px;
    
}


.main-content .steven-team{
    display: flex;
    font-family: 'Fira Sans', sans-serif;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.main-content .steven-team .steven-poke{
    display: flex;
    flex-direction: column;
    font-family: 'Fira Sans', sans-serif;
    flex-wrap: wrap;


}

.main-content .steven-team .steven-poke p{
    font-family: 'Fira Sans', sans-serif;
    margin: 5px;
}


.main-content .other-poke{
    text-align: center;
    font-size: 2em;
    margin-top: 10px;

}

.main-content .otherpoke-flex{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   border-radius: 10px;
    
    align-content: center;
    margin: 10px;   
  
    
    
   
}
.main-content .otherpoke-flex p{
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    margin: 3px;
    padding: 3px;
}

.main-content .otherpoke-flex .other{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #393E46;
    background: rgba(57, 62, 70, 0.3);
    border-radius: 10px;
    margin:10px;
    padding: 30px;
   
    
   
    
}

.main-content .otherpoke-flex .other .othersteven{
    display: flex;
    
}

.main-content .otherpoke-flex .other .othersteven .klefkimagne{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


/* RESPONSIVE CSS */

@media only screen and (max-height: 600px) {
    .wrapper{
        width: 100%;
    }
    .wrapper .sidebar h1{
        display: none;
    }
    .wrapper .sidebar{
        width: 100%;
        height: 50px;
        background-color: #222831;
        align-items: center;
        display: flex;
        position: fixed;
        
        flex-wrap: wrap;
       
        
        
    }
    .wrapper .sidebar ul{
        
        width: 100%;
        
        background-color:  rgba(34, 40, 49, 0.8);
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        gap:  10px;
        flex-wrap: wrap;
       
        
        
    }
    .wrapper .sidebar ul li{
        font-size: 15px;
        padding: 5px;
    }
    .wrapper .sidebar ul li:hover{
        transform: scale(1);
        background-color: inherit;
    }

    .wrapper .sidebar ul li i{
        font-size: 15px;
    }

    .wrapper .main-content {
        background-color: #121212;
         margin-top: 20%;
         margin-left: 0;
         align-self: center;
         width:100%;
         

         
         
         
     
     }
     
    
}
@media only screen and (max-width: 600px) {
    .wrapper{
        width: 100%;
        
       
    }
    .wrapper .sidebar h1{
        display: none;
    }
    .wrapper .sidebar{
        width: 100%;
        height: 50px;
        background-color: #222831;
        align-items: center;
        display: flex;
        position: fixed;
        
        flex-wrap: wrap;
       
        
        
    }
    .wrapper .sidebar ul{
        
        width: 100%;
        background-color: #222831;
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        gap:  10px;
        flex-wrap: wrap;
       
        
        
    }
    .wrapper .sidebar ul li{
        font-size: 15px;
        padding: 5px;
    }
    .wrapper .sidebar ul li:hover{
        transform: scale(1);
        background-color: inherit;
        border-radius: 10px;
    }

    .wrapper .sidebar ul li i{
        font-size: 15px;
    }

    .wrapper .main-content {
        background-color: #121212;
         margin-top: 20%;
         margin-left: 0;
         align-self: center;
         width:100%;
         

         
         
         
     
     }
     
    
}

/* END OF RESPONSIVE CSS */